@font-face {
  font-family: 'bw_nista_grotesk_demobold';
  src: url('../fonts/bwnistagroteskdemobold-webfont.woff2') format('woff2'),
       url('../fonts/bwnistagroteskdemobold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_displayregular';
  src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
       url('../fonts/playfairdisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsbold';
  src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('../fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

// контейнер по умолчанию. Отступ между колонками
$container: 1170px;
$colGups: 5px;

// размер текста
$textFont-size: 1rem;  // 16px
$linkColor: blue;

// контрольные точки, на которых наш макет будет перестраиваться (могут меняться зависимости от дизайна)
$breakpoints: (
        xs: 0,
        sm: 575px,
        md: 768px,
        lg: 1025px,
        xl: 1200px,
        xxl: 1440px
);

$columns: 12;

@each $breakpoint in $breakpoints {

  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i
      }
    }
  }
}
// variables
$mainColor: #444;
$mainBackground: #fff;

  //===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}


//===========  mixins end ===========//

@mixin col-create(){
  @while $col > 0 {

    .col-#{$col} {

      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}


.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
}
// layout

.row{
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
}

[class^='col']{
  padding-left:$colGups;
  padding-right:$colGups;
  width: 100%;
  min-height: 1px;
  margin-left: -12px;
}

@include col-create()

.menu {
  &__wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: -45px;
  }

  &__item {
    font-style: 18px;
    padding-left: 1.95em;
    color: #fff;
    font-family: 'playfair_displayregular';
    text-transform: uppercase;

    &:hover {
      font-weight: 900;
    }
  }
}

.hero {
  min-height: 500px;
  background: {
    image: url('../img/background/hero-bg.png');
    size: cover;
    repeat: no-repeat;
    display: flex;
  }

  &:after {
      content: url('../img/background/leaf-right.png');
      position: absolute;
      right: 0;
      top: 31%;
  }

  &__elements {
    position: relative;
    height: 500px;
    width: 1170px;
    &:before {
      content: url('../img/background/leaf-left.png');
      position: absolute;
      bottom: -100px;
      left: -135px;
    }


  }

  &__title {
    font-size: 80px;
    font-family: 'bw_nista_grotesk_demobold';
    font-weight: 900;
    text-align: center;
    color: #fff;
    line-height: 500px;
  }

  &__block {
    width: 80px;
    height: 58px;
    position: absolute;
    right: 200px;
    bottom: -29px;
    background: {
      image: url('../img/background/dot.png');
      repeat: no-repeat;
      size: cover;
    }
  }
}

.choise {
  padding: 113px 0 180px;

  &__navi {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    margin-left: -35px;

    &-item {
      padding-left: 35px;
      font-family: 'playfair_displayregular';
      font-size: 18px;
      color: #41228e;

      &:hover {
        font-weight: 900;
      }
  }
  }

  &__item {
    margin-bottom: 15px;
  }
}

.clients {
  background-color: #f8f9fa;
  padding-bottom: 109px;

  &__title {
    font-family: 'bw_nista_grotesk_demobold';
    font-size: 60px;
    text-align: center;
    line-height: 4.33;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__logo {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.contact {
  min-height: 521px;
  background: {
    image: url('../img/background/contact-bg.png');
    size: cover;
    repeat: no-repeat;
    color: #feffff;
  }

  &__title {
    font-family: 'poppinsbold';
    font-size: 60px;
    padding: 1em 0 1.67em;
    text-align: center;
  }

  &__form {
    background-color: #fff;
    width: 770px;
    position: absolute;
    top: 215px;
    left: calc(50% - 385px);
    border-radius: 5px;
    z-index: 5;

    input {
      border: none;
      background: none;
      border-bottom: 1px solid #c7c7c7;
      width: 262px;
      margin-left: 80px;
      font-size: 15px;
      padding-bottom: 1.6em;
      margin-bottom: 60px;
      font-family: 'robotoregular';
    }

    textarea {
      margin-left: 80px;
      width: 628px;
      height: 115px;
      border: none;
      border-bottom: 1px solid #c7c7c7;
      font-style: 15px;
      font-family: 'robotoregular';
    }

    [type=submit] {
      background-color: #41228e;
      border-radius: 5px;
      color: #fff;
      text-align: center;
      height: 60px;
      line-height: 60px;
      margin: 40px 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      font-style: 22px;
      font-family: 'playfair_displayregular';
    }

  }

  &__name {
    text-align: center;
    font-family: 'playfair_displayregular';
    font-size: 22px;
    padding: 2.36em 0 3.41em;
    
  }
}

.ba-footer {
  background-color: #222222;
  color: #747474;
  padding: 305px 0 70px;
  font-family: 'playfair_displayregular';
  font-size: 22px;
  position: relative;

  &:before {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #747474;
    position: absolute;
    left: 0;
    top: 465px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: #FFF;
    font-size: 22px;
    line-height: 1.5;
    padding-top: 1.5em;
  }

  &__info {
    padding-top: 89px;
    text-align: center;
    font-size: 15px;
  }


}